<mat-card class="example-card">
    <!-- <mat-card-header>
        <mat-card-title>
        موقف الاوردر و ايصال الاستلام
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider> -->

    <div class="container-fluid py-4 px-4" >
      <div class="row g-4">
          <div class="col-sm-6 col-xl-6 text-center">
           
          
            <div class="chart-wrapper rounded mb-4">
                <canvas baseChart 
                [data]="doughnutChartDatap"
                [labels]="doughnutChartLabelsp"
                [colors]="colors"
                [plugins]="doughnutChartPlugins"
                [chartType]="doughnutChartType">
              </canvas>
            </div>
            <span>  {{TotalNumorderStat}}موقف الاوردر</span>
          </div>
          <div class="col-sm-6 col-xl-6 text-center">
           
            <div class="chart-wrapper rounded mb-4">
              <canvas baseChart 
              [data]="  doughnutChartData"
              [labels]="doughnutChartLabels"
              [colors]="colors"
              [plugins]="doughnutChartPlugins"
              [chartType]="doughnutChartType">
            </canvas>
          </div>
          <span>{{TotalNumReceiptStat}}موقف ايصال الاستلام</span>
          </div>
         
      </div>
  </div>


</mat-card>

