<!-- <div class="search-div" fxLayout="row">
    <mat-list-item class="header-tag" routerLink="/" > Home </mat-list-item>/
     <mat-list-item class="header-tag" > Settings  </mat-list-item>/
    <mat-list-item class="header-tag active" > {{settingtype}}  </mat-list-item>
  
  </div>
  
  
  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
        {{settingtype}} Settings
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
 
      <div class="search-div" fxLayout="row">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>value</mat-label>
                <input type="text"  id="picvalid" matInput formControlName="value" [value]="valdata" >
                <input type="hidden" id="picid" formControlName="id"  [value]="valuid"  placeholder="">
               
               
              </mat-form-field><span style="margin-left: 10px;"> </span>
              
              <mat-form-field class="example-full-widtho">
                <mat-label>order</mat-label>
               
                <input type="number"  id="piclid" matInput formControlName="orderInList"  >
                 
                 
              </mat-form-field>
             
              <button type="submit" mat-raised-button    class="search">save</button>
            </form>
        <mat-form-field class="search-form-field" floatLabel="never">
          <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter($event)"> 
          <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
               <mat-icon>close</mat-icon>
           </button> 
          
       </mat-form-field>
      </div>
      
        <div class="example-container mat-elevation-z8" #TABLE>
  
        <mat-table [dataSource]="dataSource" matSort #table>
      
     
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="id"> {{element.id}} </mat-cell>
      </ng-container>
    
 
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef mat-sort-header4> value </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="value"> {{element.value}} </mat-cell>
      </ng-container>
    
     
    
      <ng-container matColumnDef="orderInList">
        <mat-header-cell *matHeaderCellDef mat-sort-header> order In List </mat-header-cell>
        <mat-cell *matCellDef="let element" class="desc" data-label="orderInList"> {{element.orderInList}} </mat-cell>
      </ng-container>
    
     
     <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="action">
          <button mat-button (click)="onEdit(row)">
              <mat-icon>launch</mat-icon>
          </button>
          <button mat-button color="warn" (click)="onDelete(row)">
            <mat-icon>delete_outline</mat-icon>
        </button>
         
      </mat-cell>
      </ng-container>
      
          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsToDisplay;">
          </mat-row>
        </mat-table>
   
        <mat-paginator  [pageSizeOptions]="[20, 50, 100]"   [pageSize]="20" ></mat-paginator>
    
      </div>
  
    </mat-card> -->