
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
       تفاصيل حالة الاجهزة
        </mat-card-title>
        <button mat-button class="opt ml-2 " (click)="onCreate()">
            <mat-icon class="add-new ico" >add</mat-icon>
         <span class="txt mr-1">اضافة جديد</span> 
        </button>
        <button mat-button class="opt"  (click)="exportExcel()">
            <mat-icon class="txt">file_download</mat-icon>
            <span class="txt">استخراج تقرير</span>
           
        </button>
       
    </mat-card-header>
    <mat-divider></mat-divider>
<div class="search-div" fxLayout="row">
    
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="بحث" autocomplete="off" (keyup)="applyFilter()"> 
       <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button> 
    </mat-form-field>
</div>

<div *ngIf="dataSource==null;else table">
    <app-loading-page></app-loading-page>
  </div>
  
<ng-template #table>
    <div class="example-container mat-elevation-z8">

<mat-table [dataSource]="dataSource" multiTemplateDataRows   matSort (matSortChange)="sortData($event)" matSortActive="name"matSortDirection="asc" matSortDisableClear >
 
    
   
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> رقم</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="رقم"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="clientName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> اسم العميل  </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="اسم العميل"> {{element.clientName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="central">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> السنترال </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="السنترال"> {{element.central}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="orderNumber">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>رقم الاوردر</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="رقم الاوردر"> {{element.orderNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="technicianName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> اسم الفني </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="اسم الفني"> {{element.technicianName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="zoneNumber">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> رقم الدائرة </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="رقم الدائرة"> {{element.zoneNumber}} </mat-cell>
    </ng-container>
 
    <ng-container matColumnDef="deviceType">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> نوع الجهاز </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="نوع الجهاز"> {{element.deviceType}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="serialNumber">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>السيريال نامبر </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="السيريال نامبر"> {{element.serialNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="number">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>العدد</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label=" العدد"> {{element.number}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="notes">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> ملاحظات </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="ملاحظات"> {{element.notes}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="exitDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ الخروج </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="تاريخ الخروج"> {{element.exitDate|date : 'yyyy-MM-dd'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="_ReceiptStatusName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> موقف ايصال الاستلام</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="موقف ايصال الاستلام"> {{element._ReceiptStatusName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="_OrderStatusName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> موقف الاوردر </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="موقف الاوردر"> {{element._OrderStatusName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="_CompanyName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> اسم الشركة</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="اسم الشركة"> {{element._CompanyName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="creationDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ الانشاء </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label=" تاريخ الانشاء"> {{element.creationDate|date : 'yyyy-MM-dd'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdBy">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> اسم المستخدم</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="اسم المستخدم"> {{element.createdBy}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="updateDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ التعديل</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="تاريخ العديل"> {{element.updateDate|date : 'yyyy-MM-dd'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedBy">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  التعديل بواسطة</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label=" المستخدم"> {{element.updatedBy}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
        <mat-header-cell mat-header-cell *matHeaderCellDef> الاجراء</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="الاجراء">
            
            
            <button mat-button   class="btn-success mx-1"  matTooltip="Edit" (click)="onEdit(row)">
                <mat-icon>edit</mat-icon>
            </button>
           
            <button mat-button   class="btn-danger" *ngIf="!isNotAdmin" matTooltip="Delete" (click)="onDelete(row)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </mat-cell>

    </ng-container>
   
      
    <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="19">
          .... لا يوجد بيانات 
        </mat-footer-cell>

    </ng-container>
  
  
    
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource.data.length==0 && dataSource !=null)}"></mat-footer-row>
    <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="student-element-row"
    [class.student-expanded-row]="row.isExpanded"></mat-row>
    

</mat-table>
<!-- end test -->
</div>

</ng-template>

<mat-paginator [pageSizeOptions]="[10,25, 50, 100]"   [pageSize]="10"   showFirstLastButtons></mat-paginator>

</mat-card>

