<div>
    <div class="content-container pt-5">
        <div class="arrow">
        <div class="pointer">
            <div class="text-content">
                <mat-icon>warning</mat-icon>
              مسح
            </div>
          </div>
        </div>
      
        <!-- <button  class="btn-dialog-close"  (click)="onClose()" id="close-icon" >
            <mat-icon>clear</mat-icon></button>  -->
     
    </div>
    <div  class="content-container py-3 text-right">
        <span class="content-span ">
            هل أنت متأكد أنك تريد حذف هذا السجل ؟
        </span>
    </div>
    <div class="content-container  full-width">
    <button  id="yes-button" (click)="onDelete()">نعم</button>
    <button    id="no-button" (click)="onClose()">لا</button>
</div>
</div>
